body {
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 3fr;

    height: 100vh;
}

aside {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;

    background-color: lightcoral;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-creation-bar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: center;
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow-y: auto;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.selected-list {
    background-color: aqua;
}

section {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.todos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow-y: auto;
}

.todo-creation-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: antiquewhite;
}

.todo-creation-bar>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;

    padding: 8px;
}

.todo-creation-bar input, 
.todo-creation-bar textarea,
.todo-creation-bar select {
    padding: 4px;
    border-radius: 8px;
    border: none;
}

.todo-creation-bar>h2 {
    grid-column: 1/5;
    justify-self: center;
    margin: 8px 0;
}

.todo-creation-bar>button {
    grid-column: 1/5;

    justify-self: center;

    width: fit-content;
    height: fit-content;
    padding: 8px;
}